[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=TerminalEmulator
X-XFCE-Commands=/usr/local/bin/rescue-terminal
X-XFCE-CommandsWithParameter=/usr/local/bin/rescue-terminal -e "%s"
Icon=utilities-terminal
Name=Terminal
